RRHH automatizado.json
{
  "name": "RRHH automatizado",
  "nodes": [
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        -336
      ],
      "id": "7027cd4a-a507-4cca-8d25-12074d5583f5",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b9c70955-b04a-4523-8cba-a4b95ec8fd87",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        -192
      ],
      "id": "6a632054-4835-468d-9dcb-1c784f768a36",
      "name": "obtener datos de typeform",
      "webhookId": "b9c70955-b04a-4523-8cba-a4b95ec8fd87",
      "notesInFlow": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf7744a0-5dfd-4edd-8d92-1a5f20ab62d1",
              "leftValue": "={{ $json.body.form_response.answers[4].boolean }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "6ab1cb41-4157-4421-9587-f3b708822a40",
              "leftValue": "={{ $json.body.form_response.answers[2].number }}",
              "rightValue": 18,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        -192
      ],
      "id": "bea8340c-16c9-4df5-94df-a89dc1180af3",
      "name": "verificar edad y experiencia",
      "notesInFlow": false
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.form_response.answers[3].email }}",
        "subject": "Resultado de Aplicación",
        "emailType": "text",
        "message": "¡Hola! Queremos agradecerte por haberte tomado el tiempo de postularte al puesto de Desarrollador de Automatización y por tu interés en formar parte de nuestra empresa. \n\nTras evaluar todas las aplicaciones recibidas, lamentamos informarte que en esta ocasión no has sido seleccionado para avanzar a la siguiente etapa del proceso. La decisión se tomó luego de analizar distintos factores relacionados con el perfil buscado para este rol. \n\nAun así, valoramos mucho tu interés y te animamos a volver a postularte en el futuro para otras posiciones que puedan ajustarse a tu experiencia y habilidades. \n\nGracias nuevamente por tu tiempo y dedicación. ¡Te deseamos muchos éxitos en tus próximos proyectos!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        592,
        80
      ],
      "id": "51663cf4-71ba-49fa-b5a7-9a73bf592213",
      "name": "Enviar mensaje de rechazo",
      "webhookId": "6b73a146-8815-43cd-978a-a83412c44be2",
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "DRP8wzC1qqSSz32t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.form_response.answers[3].email }}",
        "subject": "=Tu solicitud ha sido recibida!",
        "emailType": "text",
        "message": "=¡Hola, {{ $('obtener datos de typeform').item.json.body.form_response.answers[0].text }}!\n\n👋 Queremos informarte que hemos recibido tu aplicación correctamente y ya fue registrada en nuestro sistema de Recursos Humanos.  Nuestro equipo revisará tu perfil en los próximos días.\n\n⏳ El tiempo estimado de respuesta es entre 5 y 10 días hábiles.  En caso de avanzar a la siguiente etapa, nos estaremos contactando por este medio. Mientras tanto, agradecemos tu interés en formar parte de nuestra empresa.\n\n¡Muchas gracias por postularte!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        704,
        -96
      ],
      "id": "a88f4307-6108-4e85-b83d-7fcd5af7b638",
      "name": "enviar recibido a aplicante",
      "webhookId": "4b0eb6b5-eeb9-48c8-9bd5-52460ded5b6e",
      "executeOnce": true,
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "DRP8wzC1qqSSz32t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://worldtimeapi.org/api/timezone/America/Argentina/Buenos_Aires",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        -400
      ],
      "id": "4077db49-c724-4468-91db-686bcade3e48",
      "name": "obtener fecha y hora",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 5,
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.datetime }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        816,
        -448
      ],
      "id": "75262411-3a35-47a0-8863-bc20dd29893b",
      "name": "formatear fecha",
      "notesInFlow": false
    },
    {
      "parameters": {
        "sendTo": "facundomuruchi01@gmail.com",
        "subject": "Nueva Aplicación de Automatización!",
        "emailType": "text",
        "message": "=🧑 Nombre completo: {{ $json.body.form_response.answers[0].text }} {{ $json.body.form_response.answers[1].text }}\n\n🙌 Edad: {{ $json.body.form_response.answers[2].number }}\n\n✉️ Email: {{ $json.body.form_response.answers[3].email }}\n\n✅ Tiene experiencia en automatización\n\n🕒 Fecha de envío: {{ $json.formattedDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1264,
        -336
      ],
      "id": "f423a2c4-0724-4331-96a4-92b8fa40e036",
      "name": "enviar info a RRHH",
      "webhookId": "8d878bd9-2667-4327-9b61-77cf59d63cc3",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "DRP8wzC1qqSSz32t",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "enviar info a RRHH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener datos de typeform": {
      "main": [
        [
          {
            "node": "verificar edad y experiencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificar edad y experiencia": {
      "main": [
        [
          {
            "node": "enviar recibido a aplicante",
            "type": "main",
            "index": 0
          },
          {
            "node": "obtener fecha y hora",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Enviar mensaje de rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener fecha y hora": {
      "main": [
        [
          {
            "node": "formatear fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear fecha": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c4b218b2-bac4-4f1a-b49c-5a0d37a55bab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "586c66f265efc70158cbc8c82795fb5977df7136062297d1079208af73458f8e"
  },
  "id": "cqNP9rLhHkV9tsOY",
  "tags": []
}